body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.resume-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
    color: #333;
}

header p {
    margin: 5px 0;
    color: #777;
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

section p, section ul, section li {
    margin: 5px 0;
    color: #555;
}

.job h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

.contact p {
    font-size: 1em;
}

@media screen and (max-width: 600px) {
    .resume-container {
        padding: 10px;
    }

    header h1 {
        font-size: 2em;
    }

    section h2 {
        font-size: 1.2em;
    }
}
